body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /* width: 96%; */
  background-image: url("../Media/bg5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.btn-header {
  display: flex;
  justify-content: right;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 5px;
}

.logout-btn {
  background-color: purple;
  margin: 1rem;
  padding: 1rem;
  color: #fff;
  border-radius: 20px;
  align-items: right;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px #33333331;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item h1,
.header-item h3 {
  margin: 1rem 2rem;
}

table {
  width: 90%;
}

table tr td {
  border: 1px black solid;
}

.correct-answer {
  background-color: lightgreen;
}

.wrong-answer {
  background-color: rgb(255, 198, 198);
}
